#!/bin/bash

aws ssm get-parameter \
  --name ${PRIVATE_KEY_OPENSSH} \
  --with-decryption \
  --query Parameter.Value \
  --output text \
  --region ap-northeast-2 > /home/ec2-user/cluster-key.pem
chown ec2-user.ec2-user cluster-key.pem
chmod 0400 cluster-key.pem
